@{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AllEmployeeDetails">Home</a>
     </li>

      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PDValidation">Personal Details Validation</a>
     </li>

      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="BGVerification">Background Verification</a>
     </li>
}
