@model HRManager.Models.EntityViews.EmployeeFileDocument

<h4>Upload Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassportPhoto" class="control-label"></label>
                <input asp-for="PassportPhoto" class="custom-file-input"  />
                <span asp-validation-for="PassportPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="custom-file-input" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PanCard" class="control-label"></label>
                <input asp-for="PanCard" class="custom-file-input" />
                <span asp-validation-for="PanCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AadharCard" class="control-label"></label>
                <input asp-for="AadharCard" class="custom-file-input" />
                <span asp-validation-for="AadharCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label"></label>
                <input asp-for="Passport" class="custom-file-input" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoterId" class="control-label"></label>
                <input asp-for="VoterId" class="custom-file-input" />
                <span asp-validation-for="VoterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAddressProof" class="control-label"></label>
                <input asp-for="CurrentAddressProof" class="custom-file-input" />
                <span asp-validation-for="CurrentAddressProof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentAddressProof" class="control-label"></label>
                <input asp-for="PermanentAddressProof" class="custom-file-input" />
                <span asp-validation-for="PermanentAddressProof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FathersAadharCard" class="control-label"></label>
                <input asp-for="FathersAadharCard" class="custom-file-input" />
                <span asp-validation-for="FathersAadharCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MothersAadharCard" class="control-label"></label>
                <input asp-for="MothersAadharCard" class="custom-file-input" />
                <span asp-validation-for="MothersAadharCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreeMonthsBankStatementOfSalaryAccount" class="control-label"></label>
                <input asp-for="ThreeMonthsBankStatementOfSalaryAccount" class="custom-file-input" />
                <span asp-validation-for="ThreeMonthsBankStatementOfSalaryAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form16OrIncomeCertificateOfCurrentFinYear" class="control-label"></label>
                <input asp-for="Form16OrIncomeCertificateOfCurrentFinYear" class="custom-file-input" />
                <span asp-validation-for="Form16OrIncomeCertificateOfCurrentFinYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSCOrEquivalent" class="control-label"></label>
                <input asp-for="SSCOrEquivalent" class="custom-file-input" />
                <span asp-validation-for="SSCOrEquivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateOrEquivalent" class="control-label"></label>
                <input asp-for="IntermediateOrEquivalent" class="custom-file-input" />
                <span asp-validation-for="IntermediateOrEquivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationOrEquivalent" class="control-label"></label>
                <input asp-for="GraduationOrEquivalent" class="custom-file-input" />
                <span asp-validation-for="GraduationOrEquivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PGOrEquivalent" class="control-label"></label>
                <input asp-for="PGOrEquivalent" class="custom-file-input" />
                <span asp-validation-for="PGOrEquivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvancedDiplomaIfAny" class="control-label"></label>
                <input asp-for="AdvancedDiplomaIfAny" class="custom-file-input" />
                <span asp-validation-for="AdvancedDiplomaIfAny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalCertificationsIfAny" class="control-label"></label>
                <input asp-for="ProfessionalCertificationsIfAny" class="custom-file-input" />
                <span asp-validation-for="ProfessionalCertificationsIfAny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
