@model HRManager.Models.EntityViews.EmployeePFandESIInfo

<h4>Add PF and ESI Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPFAndESIInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UAN" class="control-label"></label>
                <input asp-for="UAN" class="form-control" />
                <span asp-validation-for="UAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESIN" class="control-label"></label>
                <input asp-for="ESIN" class="form-control" />
                <span asp-validation-for="ESIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
