@model HRManager.Models.EntityViews.EmployeeDocument
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documents</title>
</head>
<body>
<div>
    <partial name ="_Document.cshtml" />
</div>
</body>
</html>