@model HRManager.Models.EntityViews.EmployeePersonalInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPersonalInfo</title>
</head>
<body>

<div>
    <h4>EmployeePersonalInfo</h4>
    <partial name="_PersonalInfo.cshtml" />
</div>
</body>
</html>
