@model HRManager.Models.EntityViews.EmployeePersonalInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Updated Personal Details</h4>
    <partial name="_PersonalInfo.cshtml" />

    <input type="button" title="Save" value="Go To HomePage" onclick="location.href='@Url.Action("Index", "Employee")'" />
</div>