@model HRManager.Models.EntityViews.EmployeePFandESIInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Your PF and ESI Details</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePFAndESIInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UAN" class="control-label"></label>
                <input asp-for="UAN" class="form-control" />
                <span asp-validation-for="UAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESIN" class="control-label"></label>
                <input asp-for="ESIN" class="form-control" />
                <span asp-validation-for="ESIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Back" class="btn btn-primary" asp-action="Index"/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

