@model HRManager.Models.EntityViews.EmployeePersonalInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model is not null)
{
<div class="card border-primary col-sm-12 mx-auto" >
<div class="card-header bg-primary">
<h3 class="text-center">Personal Details</h3>
</div>
  <div class="card-body align-items-center">
  <div class="row">
    <div class="col-md-12">
            <form asp-controller="Employee" asp-action="UpdatePersonalInfo" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-6">
            <div class="col">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" style="font-weight:bold"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label;" style="font-weight:bold"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="LastName" class="control-label" style="font-weight:bold"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
            <div class="form-group">
                <label asp-for="Gender" class="control-label" style="font-weight:bold"></label>
               <select class="form-select" aria-label="Default select example" asp-for="Gender"  asp-items="Html.GetEnumSelectList<Gender>()">
                    <option selected>Select</option>
                </select> 
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label" style="font-weight:bold"></label>
                <select class="form-select" aria-label="Default select example" asp-for="MaritalStatus"  asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                    <option selected>Marital Status</option>
                </select>  
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label" style="font-weight:bold"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label" style="font-weight:bold"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="PersonalEmailId" class="control-label" style="font-weight:bold"></label>
                <input asp-for="PersonalEmailId" class="form-control" />
                <span asp-validation-for="PersonalEmailId" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label" style="font-weight:bold"></label>
                 <select class="form-select" aria-label="Default select example" asp-for="BloodGroup"  asp-items="Html.GetEnumSelectList<BloodGroup>()">
                    <option selected>Select Your Blood Group</option>
                </select>
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
           <p class="control-label" style="font-weight:bold; font-size: 18px">
            Current Address
           </p>
           <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="CurrentAddressLine1" class="control-label"></label>
                <input asp-for="CurrentAddressLine1" class="form-control" />
                <span asp-validation-for="CurrentAddressLine1" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="CurrentAddressLine2" class="control-label"></label>
                <input asp-for="CurrentAddressLine2" class="form-control" />
                <span asp-validation-for="CurrentAddressLine2" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="CurrentAddressLine3" class="control-label"></label>
                <input asp-for="CurrentAddressLine3" class="form-control" />
                <span asp-validation-for="CurrentAddressLine3" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="CurrentCity" class="control-label"></label>
                <input asp-for="CurrentCity" class="form-control" />
                <span asp-validation-for="CurrentCity" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="CurrentState" class="control-label"></label>
                 <select class="form-select" aria-label="Default select example" asp-for="CurrentState"  asp-items="Html.GetEnumSelectList<States>()">
                    <option selected>Select State</option>
                </select>
                <span asp-validation-for="CurrentState" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="CurrentPinCode" class="control-label"></label>
                <input asp-for="CurrentPinCode" class="form-control" />
                <span asp-validation-for="CurrentPinCode" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
           <p class="control-label" style="font-weight:bold; font-size: 18px">
            Permanent Address
           </p>
           <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="PermanentAddressLine1" class="control-label"></label>
                <input asp-for="PermanentAddressLine1" class="form-control" />
                <span asp-validation-for="PermanentAddressLine1" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="PermanentAddressLine2" class="control-label"></label>
                <input asp-for="PermanentAddressLine2" class="form-control" />
                <span asp-validation-for="PermanentAddressLine2" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="PermanentAddressLine3" class="control-label"></label>
                <input asp-for="PermanentAddressLine3" class="form-control" />
                <span asp-validation-for="PermanentAddressLine3" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="PermanentCity" class="control-label"></label>
                <input asp-for="PermanentCity" class="form-control" />
                <span asp-validation-for="PermanentCity" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="PermanentState" class="control-label"></label>
                <select class="form-select" aria-label="Default select example" asp-for="PermanentState"  asp-items="Html.GetEnumSelectList<States>()">
                    <option selected>Select State</option>
                </select>
                <span asp-validation-for="PermanentState" class="text-danger"></span>
                 @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size:15px">
                @Html.DropDownListFor(model => model.PermanentState, new SelectList(Enum.GetValues(typeof(States))),"Select State")
                </span>*@
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="PermanentPincode" class="control-label"></label>
                <input asp-for="PermanentPincode" class="form-control" />
                <span asp-validation-for="PermanentPincode" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <p class="control-label" style="font-weight:bold; font-size: 18px">
                Emergency Contact Details
            </p>
             <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="EmergencyContactNumber" class="control-label"></label>
                <input asp-for="EmergencyContactNumber" class="form-control" />
                <span asp-validation-for="EmergencyContactNumber" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="RelationshipWithContact" class="control-label"></label>
                <select class="form-select" aria-label="Default select example" asp-for="RelationshipWithContact"  asp-items="Html.GetEnumSelectList<EmergencyContactRelationship>()">
                    <option selected>Select</option>
                </select>
                <span asp-validation-for="RelationshipWithContact" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="NameAsPerAadhar" class="control-label" style="font-weight:bold"></label>
                <input asp-for="NameAsPerAadhar" class="form-control" />
                <span asp-validation-for="NameAsPerAadhar" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="AadharCardNumber" class="control-label" style="font-weight:bold"></label>
                <input asp-for="AadharCardNumber" class="form-control" />
                <span asp-validation-for="AadharCardNumber" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="PanCardNumber" class="control-label" style="font-weight:bold"></label>
                <input asp-for="PanCardNumber" class="form-control" />
                <span asp-validation-for="PanCardNumber" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="row mb-6">
            <div class="col">
             <div class="form-group">
                <label asp-for="FathersNameAsPerAadhar" class="control-label" style="font-weight:bold"></label>
                <input asp-for="FathersNameAsPerAadhar" class="form-control" />
                <span asp-validation-for="FathersNameAsPerAadhar" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
             <div class="form-group">
                <label asp-for="FathersMobileNumber" class="control-label" style="font-weight:bold"></label>
                <input asp-for="FathersMobileNumber" class="form-control" />
                <span asp-validation-for="FathersMobileNumber" class="text-danger"></span>
            </div>
            </div>
            <div class="col">
            <div class="form-group">
                <label asp-for="MothersNameAsPerAadhar" class="control-label" style="font-weight:bold"></label>
                <input asp-for="MothersNameAsPerAadhar" class="form-control" />
                <span asp-validation-for="MothersNameAsPerAadhar" class="text-danger"></span>
            </div>
            </div>
            </div>
            <br />
            <div class="form-group; text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}