@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HRManager.Models.EntityViews.EmployeeProfessionalInfo;
@{
    <div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>Professional Details</h1>
        </div>
    </div>
</div>
    <div class="form-group">
         <partial name="_ProofessionalInfo.cshtml">
         <button type="button" class="btn btn-primary">Add</button>
   
         <button type="button" class="btn btn-secondary">Update</button>
    </div>

}
