@model HRManager.Models.ViewModels.AllEmployeeCards
<div class="row">
@if (Model is not null)
{       
        await Html.RenderPartialAsync("_EmployeeCardSummary.cshtml", @Model.EmployeeData, new ViewDataDictionary(this.ViewData) { {"ShowColumns", true} });
    
}
</div>
