@model HRManager.Models.EntityViews.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card border-3 col-sm-12 mx-auto" >
<div class="card-header bg-primary">
<h3 class="text-center">Bulk Employee Registration</h3>
</div>
  <div class="card-body align-items-center">
  <div class="row">
      <div class="col-md-6">
<form asp-action="Import" enctype="multipart/form-data" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <input type="file" asp-for="File" class="custom-file-input" />
     </div>
     <br />
     <div class="form-group; text-center">
                 @*<input type="submit" value="Back"  class="btn btn-primary" asp-action="Index" />*@
          <input type="submit" value="Submit" class="btn btn-primary" style="float: right;" onsubmit="alert('Emails sent successfully')"/>
      </div>
 </form>
 </div>
 </div>
 </div>
 </div>