@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
*@

@{
    ViewData["Title"] = "List of Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">List of Employees</h1>
            <input type="date" id="SearchFromDate" name="DateFrom"/>
            <input type="date" id="SearchToDate" name="DateTo"/>
            <a role="button" class="btn btn-primary" id="SearchEmps">Sort</a>
            <div style="float:right">
            <input type="search" id="SearchEmployees" name="Search"/>
            <a role="button" class="btn btn-primary" id="SearchWith" >Search</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" id="table-tab" data-bs-toggle="pill" data-bs-target="#table-data" aria-current="page">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cards-tab" data-bs-toggle="pill" data-bs-target="#card-data">Cards</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="table-data" role="tabpanel" aria-labelledby="table-tab">
            <div class="alert alert-dismissible alert-success" style="display:none">
              <strong>Fetching data!</strong> Please wait...
            </div>
            <div id="table-data-container">
            </div>
          </div>
          <div class="tab-pane" id="card-data" role="tabpanel" aria-labelledby="profile-tab">
            <div class="alert alert-dismissible alert-success" style="display:none">
              <strong>Fetching data!</strong> Please wait...
            </div>
            <div id="card-data-container">
            </div>
          </div>
        </div>
    </div>
   
</div>



@section Scripts
{
<script>
$(document).ready(function () {
    $("#SearchEmps").click(function() {
        //loadAllEmployeeTableData();
        //$("#table-tab").trigger("click");
        document.getElementById("table-tab").click();
    });
    $("#SearchWith").click(function()
    {
        $("#table-data.alert").show();
        $.ajax(
            {
                url:"/Admin/SearchEmployee?searchValue="+$("#SearchEmployees").val(),
                success: function(data)
                        {           
                            $("#table-data-container").html(data);
                            $("#table-data.alert").hide();
                        }               
            }
        )
    });
    $("#table-tab").click(function () {
        loadAllEmployeeTableData();
    });
    $("#cards-tab").click(function () {
        loadAllEmployeeData("card-data", "AllEmployeeCards");
    });
    loadAllEmployeeData = function (panelName, endPointName) {
        $("#" + panelName + " .alert").show();

        var getUrl = "/Admin/" + endPointName + "?DateFrom=" + $("#SearchFromDate").val() + "&DateTo=" + $("#SearchToDate").val();
        $.ajax({
            url: getUrl
        }).done(function (data) {
            $("#" + panelName + "-container").html(data);
            $("#" + panelName + " .alert").hide();
        });
    };
    loadAllEmployeeTableData = function () {
        loadAllEmployeeData("table-data", "AllEmployeeTable");
    };
    loadAllEmployeeTableData();
});
</script>
}


       

   

 

 
